.heading{
    width: 100%;
    margin:0px;
    font-size:30px;
}

.button{
    border-color:white;
    float:right;
}

#foot{
    width:100%;
    bottom:0;
    position:fixed;
    background-color:lightgray;
    font-size:20px;
    padding:4px;
}

#canvas{
    border: 10px solid white;
    width:fit-content;
}